<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/Login</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="AllTests">
      <directory>./tests/src/Login</directory>
    </testsuite>
  </testsuites>
</phpunit>
